@font-face {
  font-family: 'Pokemon-Solid';
  src:  url('/fonts/Pokemon-Solid.ttf') format('ttf');
        /*url('../fonts/myfont.Pokemon Solid.ttf') format('ttf');*/
}

#map{
	height: 100%; 
	width: 100%; 
	position:absolute; 
	top: 0; 
	left: 0; 
	z-index: 0;
   	}

.map {
	height: 100%;
	width: 100%
}

.page-heading {
 	/*background-color: transparent;*/
 	z-index: 1;
 	/*text-align: center;*/
 	color: black;
 	opacity: 0.8;
 	transform: rotate(-90deg) translateX(-50%);
 }

h1#mainTitle {
 	
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, blue, lightblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, blue, lightblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, blue, lightblue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, blue, lightblue); /* Standard syntax */
 	padding: 5px 10px;
 	border-radius: 5px;
 	margin-top: -55%;
 	color: rgba(0,0,0,0.7);
 	font-size: 50px;
 	letter-spacing:7px;
 	font-weight: bold;
 	font-family: "Pokemon-Solid";
 	/*text-shadow: 5px 5px 10px rgba(255,0,0,0.9);*/
 }

 #thisPanel.panel {
 	 	background: none;

 }

 .panel {
 	opacity: 0.8;
 }

 .panel-title {
 	text-align: center;
 }

.panel-body {
	padding: 10px;
	background: white;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 35px;
  padding: 0;
}

.container {
	z-index: 1;
}

    /*************************fight animation styling*************************/

	#myModal .modal-content {
		background-image: url('../images/fight_background.jpg');
		background-size: contain;
		/*opacity: 0.9;*/
	}

	#modal-header.modal-header, #modal-footer.modal-footer {
		border: none;
	}
	
	.modal-title {
		font-size: 30px;
		color: white;
	}

	.pokeName {
		color: blue;
		text-shadow: 5px 5px 10px rgba(0,0,255,0.7);
	}

	.results {
		color: white;
		height: 100%;
		font-size: 20px;
	}

	.mover {
		height: 20px;
		width: 20px;
		background: green;
		border-radius:50%;
		border: 1px solid black;
		
	}

	.target {
		position: absolute;
		/*content: ' ';*/
		height: 20px;
		width: 20px;
		background: red;
		transform: translateX(-10px);
		left: 50%;
		border-radius:50%;
		border: 1px solid black;
	}

	.slider {
		position: relative;
		height: 21px;
		width: 220px;
		background: white;
		border: 1px outset black;
		border-radius: 10px;
		margin: 0 auto;
	}

	.HP {
		/*display: inline-block;*/
		background:red;
		color: white;
		margin: 0 auto;
		padding: 3px 5px;
		border-radius: 10px;
	}

/*Player Name Modal CSS*/
	#playerNameEntryHeader{
		background-color: antiquewhite;
		border-radius: 15px;
		color: slategray;
	}

	#playerNameEntry{
		color:black;
	}

	#playerNameEntryModal {
		text-align:center;
		color: white;
		font-weight: bold;
	}

	#playerNameEntryFieldLabel{
		color:white;
	}

	#playerNameButton{
		color:black;
		background-color: lightgreen;
		border-color: darkgreen;
		border-width: 3px;
	}

	







	/**************************************animation code**************************************/
	.mover {
		animation-name: slide;
		animation-duration: 4s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		-webkit-animation-name: slide;
		-webkit-animation-duration: 4s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-moz-animation-name: slide;
		-moz-animation-duration: 4s;
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;
		-o-animation-name: slide;
		-o-animation-duration: 4s;
		-o-animation-iteration-count: infinite;
		-o-animation-timing-function: linear;
		-ms-animation-name: slide;
		-ms-animation-duration: 4s;
		-ms-animation-iteration-count: infinite;
		-ms-animation-timing-function: linear;
	}

	.animateRight {
		animation-name: animateRight;
		animation-duration: 600ms;
		animation-iteration-count: 1;
		animation-timing-function: ease-out;
		-webkit-animation-name: animateRight;
		-webkit-animation-duration: 600ms;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-out;
		-moz-animation-name: animateRight;
		-moz-animation-duration: 600ms;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: ease-out;
		-o-animation-name: animateRight;
		-o-animation-duration: 600ms;
		-o-animation-iteration-count: 1;
		-o-animation-timing-function: ease-out;
		-ms-animation-name: animateRight;
		-ms-animation-duration: 600ms;
		-ms-animation-iteration-count: 1;
		-ms-animation-timing-function: ease-out;
	}

	.animateLeft {
		animation-name: animateLeft;
		animation-duration: 600ms;
		animation-iteration-count: 1;
		animation-timing-function: ease-out;
		-webkit-animation-name: animateLeft;
		-webkit-animation-duration: 600ms;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-out;
		-moz-animation-name: animateLeft;
		-moz-animation-duration: 600ms;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: ease-out;
		-o-animation-name: animateLeft;
		-o-animation-duration: 600ms;
		-o-animation-iteration-count: 1;
		-o-animation-timing-function: ease-out;
		-ms-animation-name: animateLeft;
		-ms-animation-duration: 600ms;
		-ms-animation-iteration-count: 1;
		-ms-animation-timing-function: ease-out;
	}






	@keyframes slide {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(200px);
		}

		100% {
			transform: translateX(0px);
		}
		
	}

	@-webkit-keyframes slide {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(200px);
		}

		100% {
			transform: translateX(0px);
		}
		
	}

	@-moz-keyframes slide {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(200px);
		}

		100% {
			transform: translateX(0px);
		}
		
	}

	@-o-keyframes slide {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(200px);
		}

		100% {
			transform: translateX(0px);
		}
		
	}



	@keyframes animateRight {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(150%);			
		}

		100% {
			transform: translateX(0px);
		}
	}

	@-webkit-keyframes animateRight {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(150%);			
		}

		100% {
			transform: translateX(0px);
		}
	}

	@-moz-keyframes animateRight {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(150%);			
		}

		100% {
			transform: translateX(0px);
		}
	}

	@-o-keyframes animateRight {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(150%);			
		}

		100% {
			transform: translateX(0px);
		}
	}



	@keyframes animateLeft {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(-150%);
		}

		100% {
			transform: translateX(0px);
		}
	}

	@-webkit-keyframes animateLeft {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(-150%);
		}

		100% {
			transform: translateX(0px);
		}
	}

	@-moz-keyframes animateLeft {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(-150%);
		}

		100% {
			transform: translateX(0px);
		}
	}

	@-o-keyframes animateLeft {
		0% {
			transform: translateX(0px);
		}

		50% {
			transform: translateX(-150%);
		}

		100% {
			transform: translateX(0px);
		}
	}

/*****************************end of animation code*****************************/