 @font-face {
	font-family: 'PokemonSolid';
	src:  url('pokemonsolid.woff') format('woff');
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	font-family: 'Press Start 2P', cursive;
	font-size: 10px;
	overflow:hidden;
}

.container {
	z-index: 1;
}

#map{
	height: 100%; 
	width: 100%; 
	position:absolute; 
	top: 0; 
	left: 0; 
	z-index: 0;
}

.map {
	height: 100%;
	width: 100%;	
}

.page-heading {
	z-index: 1;
	-webkit-transform: rotate(-90deg);
	        transform: rotate(-90deg);
	position: absolute;
	top: 44%;
    left: -225px;
}

h1#mainTitle {
	border-radius: 5px;
	color: #ffcb05;
	font-size: 50px;
	letter-spacing:5px;
	font-weight: bold;
	font-family: "PokemonSolid";
	-webkit-text-stroke: 1px  #3c5aa6;
}

.space{
	width: 15px;
	white-space: pre;
}

#thisPanel.panel {
	background: transparent;
	opacity:0;
}

.panel-title {
	text-align: center;
}

.accordion {
	opacity: 0.2;
	-webkit-transition: opacity 300ms ease ;
	transition: opacity 300ms ease ;
}

.accordion:hover {
	opacity: 1;
}

.accordionHeader {
	background-color: #2a75bb;
	border-bottom:1px solid black;
	color: #ffcb05;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	font-family: 'PokemonSolid';
	-webkit-text-stroke: 1px #3c5aa6;
	padding-bottom: 5px;
	cursor: pointer;
	font-size: 20px;
}

#instructionHeader {
	border-radius: 5px 5px 0 0;
}

.accordionBody {
	background-color: white;
	padding: 10px;
	height: 30%;
	padding: 10px 30px;
}

.ui-state-focus {
	outline: none !important;
}

#instructions-ul {
	list-style: circle;
	margin-bottom: 0px;
}

.zoom {
	-webkit-transition: -webkit-transform 300ms ease;
	transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
	transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.zoom:hover {
	-webkit-transform: scale(1.7);
	        transform: scale(1.7);
}


/*************************************  fight modal styling  *************************************/

#myModal .modal-content {
	background-image: url('../images/fight_background.jpg');
	background-size: contain;
}

#modal-header.modal-header, #modal-footer.modal-footer {
	border: none;
}

.modal-title {
	font-size: 15px;
	color: white;
}

.pokeName {
	color: blue;
	text-shadow: 5px 5px 10px rgba(0,0,255,0.7);
}

.results {
	color: #2a75bb;
	height: 100%;
	font-size: 15px;
	font-family: 'Press Start 2P', cursive;
}

.mover {
	height: 20px;
	width: 20px;
	background: green;
	border-radius:50%;
	border: 1px solid black;
}

.target {
	position: absolute;
	height: 20px;
	width: 20px;
	background: red;
	-webkit-transform: translateX(-10px);
	        transform: translateX(-10px);
	left: 50%;
	border-radius:50%;
	border: 1px solid black;
}

.slider {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	height: 20px;
	width: 220px;
	background: white;
	border: 1px outset black;
	border-radius: 10px;
	margin: 0 auto;
}

.HP {
	background:red;
	color: white;
	margin: 0 auto;
	padding: 3px 5px;
	border-radius: 10px;
}

.hitTextBox {
	color: white;
	width:50%;
	padding: 10px 0 10px 15px;
	margin: 20px auto;
	font-size: 20px;
	opacity:0.7;
}

.hit {
	background: green;
}

.miss {
	background: red;	
}

.hero {
	z-index: 100;
}

/*************************************  Player Name and endgame Modal CSS  *************************************/
#playerNameEntryHeader, #lossHeader{
	background-color: antiquewhite;
	border-radius: 15px;
	color: slategray;
}

#playerNameEntry{
	color:black;
}

#playerNameEntryModal, #lossModal, #highScoreModal{
	text-align:center;
	color: white;
	font-weight: bold;
}

#high-score-table{
	margin:auto;
}

#playerNameEntryFieldLabel{
	color:white;
}

#playerNameButton, .loss-modal-buttons{
	background-color: lightgreen;
	border-color: darkgreen;
	border-width: 3px;
	color: black;
	-webkit-transform: scale(1);
	        transform: scale(1);
	-webkit-transition:all 300ms ease;
	transition:all 300ms ease;
}

#playerNameButton:hover, .loss-modal-buttons:hover {
	color: white;
	background-color: darkgreen;
	border-color: lightgreen;
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}

#playerNameButton:active, .loss-modal-buttons:active {
	-webkit-transform: scale(1);
	        transform: scale(1);
}

.validationTxt {
	font-size: 15px;
	background:rgba(255,0,0,0.8);
	display: inline-block;
	line-height:18px;
	padding: 0 10px 15px 10px;
	border-radius: 5px;
	border:1px dashed white;
}


.trainerTitle {
	position: relative;
	display: inline-block;
	font-size: 12px;
}

.trainerTitle:after {
	content: ' ';
	position: absolute;
	height: 0px;
	width: 0px;
	border: 15px solid transparent;
	border-top: 15px solid antiquewhite;
	bottom: -55px;
	right: 50%;
}

.validationTxt {
	margin-top: 10px;
}

#high-score-table {
	width: 100%;
	font-size: 15px;
}

#high-score-table tr:hover {
	background: lightgreen;
	color: black;
	opacity: 0.8;
}


/*********************************** Volume slider styling ***********************************/

#volume {
	position:relative;
	margin-top: 40px;
    margin-left: 20px;
	z-index: 999;
	width: 100px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; 
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 26px;
  width: 10px;
  border-radius: 3px;
  background: #ffcb05;
  cursor: pointer;
  margin-top: -10px;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 10px;
  border-radius: 3px;
  background: #ffcb05;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 10px;
  border-radius: 3px;
  background: #ffcb05;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #267ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
  background: #267ebd;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 10px;
  border-radius: 3px;
  background: #ffcb05;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #267ebd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 10px;
  border-radius: 3px;
  background: #ffcb05;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 10px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 10px;
  border-radius: 3px;
  background: #ffcb05;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
  background: #267ebd;
}


/**************************************  animation code  **************************************/

.mover {
	animation-name: slide;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-name: slide;
	-webkit-animation-duration: 4s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: slide;
	-moz-animation-duration: 4s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-o-animation-name: slide;
	-o-animation-duration: 4s;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: linear;
}

.animateRight {
	animation-name: animateRight;
	animation-duration: 600ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	-webkit-animation-name: animateRight;
	-webkit-animation-duration: 600ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-name: animateRight;
	-moz-animation-duration: 600ms;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-out;
	-o-animation-name: animateRight;
	-o-animation-duration: 600ms;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: ease-out;
}

.animateLeft {
	animation-name: animateLeft;
	animation-duration: 600ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	-webkit-animation-name: animateLeft;
	-webkit-animation-duration: 600ms;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: ease-out;
	-moz-animation-name: animateLeft;
	-moz-animation-duration: 600ms;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: ease-out;
	-o-animation-name: animateLeft;
	-o-animation-duration: 600ms;
	-o-animation-iteration-count: 1;
	-o-animation-timing-function: ease-out;
}

.letterAnimation{
	display: inline-block;
	animation-name: letterAnimation;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	-webkit-animation-name: letterAnimation;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-delay: 0s;
	-moz-animation-name: letterAnimation;
	-moz-animation-duration: 2s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-delay: 0s;
	-o-animation-name: letterAnimation;
	-o-animation-duration: 2s;
	-o-animation-iteration-count: infinite;
	-o-animation-direction: alternate;
	-o-animation-timing-function: ease-in-out;
	-o-animation-delay: 0s;
}

#highScore {
	color: red;
	animation-name: highScore;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
	animation-direction: alternate;
	-webkit-animation-name: highScore;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 2s;
	-webkit-animation-direction: alternate;
	-moz-animation-name: highScore;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	-moz-animation-duration: 2s;
	-moz-animation-direction: alternate;
	-o-animation-name: highScore;
	-o-animation-iteration-count: infinite;
	-o-animation-timing-function: ease-in-out;
	-o-animation-duration: 2s;
	-o-animation-direction: alternate;
}

@keyframes slide {
	0% {
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}

	50% {
		-webkit-transform: translateX(200px);
		        transform: translateX(200px);
	}

	100% {
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
	
}

@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}

	50% {
		-webkit-transform: translateX(200px);
		        transform: translateX(200px);
	}

	100% {
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
	
}



@keyframes animateRight {
	0% {
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}

	50% {
		-webkit-transform: translateX(150%);
		        transform: translateX(150%);			
	}

	100% {
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
}

@-webkit-keyframes animateRight {
	0% {
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}

	50% {
		-webkit-transform: translateX(150%);
		        transform: translateX(150%);			
	}

	100% {
		-webkit-transform: translateX(0px);
		        transform: translateX(0px);
	}
}


@keyframes letterAnimation {
	0%, {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}

	100% {
		-webkit-transform: translateY(20px) ;
		        transform: translateY(20px) ;
	}
}

@-webkit-keyframes letterAnimation {
	0%, {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}

	100% {
		-webkit-transform: translateY(20px) ;
		        transform: translateY(20px) ;
	}
}

@keyframes highScore {
	0%, {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}

	100% {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
}

@-webkit-keyframes highScore {
	0%, {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}

	100% {
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
	}
}



	/*********************************  media queries  *********************************/

@media screen and (max-width: 1200px) {

	.page-heading {
		-webkit-transform: rotate(-90deg);
		        transform: rotate(-90deg);
		position: absolute;
		top: 44%;
		}
	}

@media screen and (max-width: 992px){

	.accordion {
		position: absolute;
		bottom: 2%;
		left: 50%;
		width: 100%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}

	.accordionHeader {
		/*padding: 5px;*/
		font-size: 15px;
	}

	.accordionBody {
		font-size: 10px;
	}

	.page-heading {
		position: absolute;
	    top: 0;
	    left: 0;
    	right: 0;
		z-index: 100;
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}

	h1#mainTitle {
		letter-spacing:5px;
		font-size:3.5em;
	}

	.modal-dialog {
		margin-top: 10%;
		height: 20%;
	}

	.modal-content {
		height: 200%;
	}

	.results {
		font-size: 	10px;
	}

	.trainerTitle {
		font-size: 	15px;
	}

	#hitText {
		font-size: 	12px;
	}

	#volume {
		margin-top: 50px;
		margin-left: -10px;
		-webkit-transform:rotate(-90deg);
		        transform:rotate(-90deg);
	}

	img.foe {
		height: 150px;
	}
}

@media screen and (max-width: 768px) {

	span.letterAnimation {
		margin:5px 0;
	}
}

@media screen and (max-width: 560px){

	img.hero {
		height:100px;
	}

	#myModal .modal-content {
		background-size: 100% 100%;
	}

	img.foe {
		height: 50%;
		margin-bottom: 	60%;
	}

	img.caught {
		height: 50%;
	}

	#hitText {
		width: 75%;
	}

	#foeTitle {
		font-size: 	12px;
	}

	#hitText {
		width: 100%;
		font-size: 	10px;	
		padding: 0;
		margin: 0;
	}

	span.letterAnimation {
		font-size: 	30px;
	}
}

@media screen and (max-width: 320px){

	#thisPanel {
		margin: 0;
		padding: 0;
	}

	.results {
		font-size: 	8px;
	}

	img.foe {
		margin-bottom: 60%;
	}

	#hitText {
		width: 100%;
		font-size: 	10px;	
		padding: 0;
		margin: 0;
	}

	.foeHP, .heroHP {
		font-size: 	10px;
	}
}